{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}}
{{- $large := $img.Resize "1024x" -}}
{{ $medium := $large.Fill "768x" -}}
{{ $small := $medium.Fill "480x" -}}
<figure class="image-caption">
    <img
        class="img_block"
        alt="{{ $.Text }}"
        srcset="
            {{ $small.RelPermalink }} 480w,
            {{ $medium.RelPermalink }} 768w,
            {{ $large.RelPermalink }} 1024w" sizes="100vw"
        src="{{ $small.RelPermalink }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        loading="lazy"
    />
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />{{- end -}}