{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $img1080 := $image.Resize "972x" }}
{{ $img720 := $image.Resize "648x" }}
{{ $img414 := $image.Resize "373x" }}
{{ $img375 := $image.Resize "338x" }}
{{ $img360 := $image.Resize "324x" }}
{{ $img320 := $image.Resize "288x" }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
{{ $caption = . | safeHTML }}
{{ end }}

<figure>
    <img
            class="img_block"
            sizes="100vw"
            srcset="{{ $img1080.RelPermalink }} 972w, {{ $img720.RelPermalink }} 648w, {{ $img414.RelPermalink }} 373w, {{ $img375.RelPermalink }} 338w, {{ $img360.RelPermalink }} 324w, {{ $img320.RelPermalink }} 228w"
            src="{{ $image.RelPermalink }}"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            loading="lazy"
    >
    {{ with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>