{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}}
{{- $img1080 := $img.Resize "972x" -}}
{{- $img720 := $img.Resize "648x" -}}
{{- $img414 := $img.Resize "373x" -}}
{{- $img375 := $img.Resize "338x" -}}
{{- $img360 := $img.Resize "324x" -}}
{{- $img320 := $img.Resize "288x" -}}
<figure class="img_block">
    <img
        alt="{{ $.Text }}"
        sizes="100vw"
        srcset="{{ $img1080.RelPermalink }} 972w, {{ $img720.RelPermalink }} 648w, {{ $img414.RelPermalink }} 373w, {{ $img375.RelPermalink }} 338w, {{ $img360.RelPermalink }} 324w, {{ $img320.RelPermalink }} 228w"
        src="{{ $img.RelPermalink }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        loading="lazy"
    />
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />{{- end -}}