.button {
  white-space: nowrap;
  display: inline-block;
  padding: 8px 15px 6px 15px;
  background: var(--primary);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 3px;
  &:hover {
    color: var(--white);
    background-color: var(--primary);
    text-decoration: none;
  }
}
.button-white {
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
}
