<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    </div>
    <div class=phone-section>
      <div class=top_pic></div>
      <div class=sign>
        <a href=tel:+79219405094 class=phone_link title=Телефон>
          <span class=phone>+7 (921) 940 50 94</span>
        </a></div>
    </div>

    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
