// Colors
:root {
  --primary: #007864;
  --secondary: #5ad67d;

  --black: #212529;
  --white: #fff;

  --bg: #fff;

}
[data-theme="dark"] {
  //dark
  --bg: #2d2d2d;
  --primary: #09993e;
  --secondary: #725c82;

  :not(li):not(span):not(a):not(.button):not(.about_us):not(.brand_pannel):not(.numberCircle){
    background-color: var(--bg) !important;
    color: var(--white) !important;
  }
  .timeline>ul>li{
    background-color: var(--primary)
  }
  a, a:hover{
    color: var(--white) !important;
  }
  .description:before{
    background-color: var(--bg) !important;
    border-color: transparent transparent transparent var(--primary) !important;
  }
  .about_us:before {
    border-color: transparent var(--primary) transparent transparent !important;
  }
  .listing{
    background-image: none!important;
  }
  .about_list .timeline ul *, time  {
    background: var(--primary)!important;
    box-shadow: none!important;
  }
  .about_list .timeline ul li::after{
    background: var(--primary)!important;
  }
  .cover:after {
    background: radial-gradient(rgba(255,255,255,0), var(--bg) 70%)!important;
  }
  .brand_pannel{
    background-color: var(--white) !important;
    span{
      background-color: var(--white) !important;
      color: var(--black) !important;
    }
  }
  .list-style-one>li{
    color: var(--white)!important;
  }
}
