<div class="inlineprop about_list">
    <h2>О нас</h2>

    <h3>Приятно познакомится. Мы – компания Энигма.</h3>

    <section class="timeline">
        <ul>
            <li>
                <div>
                    <time>Работаем с 1999</time>Мы ведём работу на рынке оказания услуг вскрытия, взлома и установки замков уже более 20 лет.
                </div>
            </li>
            <li>
                <div>
                    <time>По городу и области</time>Наша служба аварийного вскрытия работает круглосуточно и по всему Санкт-Петербургу и Ленинградской области.
                </div>
            </li>
            <li>
                <div>
                    <time>Всё, что можно закрыть на замок</time>За всё то время, что наши мастера работают, они стали виртуозами по работе с дверными, гаражными, автомобильными и сейфовыми замками.
                </div>
            </li>
            <li>
                <div>
                    <time>Специальное оборудование</time> Для  самых изощренных операций у наших мастеров есть проверенное оборудование и уникальный опыт.
                </div>
            </li>

        </ul>
    </section>
    <hr>
</div>