<div class=car_brands>
    <h2>Работаем с любыми брэндами автомобилей</h2>
    <button class=hidebut id="buttonHide" onclick="colapse()">Скрыть</button>
    <div class=divhide id=divhide>
        <a href=/vskrytie-auto/honda><div class=brand_pannel><img src=/img/car_brands/honda.jpg alt=Honda /><span>Honda</span></div></a>
        <a href=/vskrytie-auto/ford><div class=brand_pannel><img src=/img/car_brands/ford.jpg alt=Ford /><span>Ford</span></div></a>
        <a href=/vskrytie-auto/mazda><div class=brand_pannel><img src=/img/car_brands/mazda.jpg alt=Mazda /><span>Mazda</span></div></a>
        <a href=/vskrytie-auto/nissan><div class=brand_pannel><img src=/img/car_brands/nissan.jpg alt=Nissan /><span>Nissan</span></div></a>
        <a href=/vskrytie-auto/hyundai><div class=brand_pannel><img src=/img/car_brands/hyundai.jpg alt=Hyundai /><span>Hyundai</span></div></a>
        <a href=/vskrytie-auto/toyota><div class=brand_pannel><img src=/img/car_brands/toyota.jpg alt=Toyota /><span>Toyota</span></div></a>
        <a href=/vskrytie-auto/mitsubishi><div class=brand_pannel><img src=/img/car_brands/mitsubishi.jpg alt=Mitsubishi /><span>Mitsubishi</span></div></a>
        <a href=/vskrytie-auto/volkswagen><div class=brand_pannel><img src=/img/car_brands/volkswagen.jpg alt=Volkswagen /><span>Volkswagen</span></div></a>
        <a href=/vskrytie-auto/bmw><div class=brand_pannel><img src=/img/car_brands/bmw.jpg alt=BMW /><span>BMW</span></div></a>
        <a href=/vskrytie-auto/audi><div class=brand_pannel><img src=/img/car_brands/audi.jpg alt=Audi /><span>Audi</span></div></a>
        <a href=/vskrytie-auto/mercedes-benz><div class=brand_pannel><img src=/img/car_brands/mercedes-benz.jpg alt=Mercedes-Benz /><span>Mercedes-Benz</span></div></a>
        <a href=/vskrytie-auto/jeep><div class=brand_pannel><img src=/img/car_brands/jeep.jpg alt=Jeep /><span>Jeep</span></div></a>
        <a href=/vskrytie-auto/daewoo><div class=brand_pannel><img src=/img/car_brands/daewoo.jpg alt=Daewoo /><span>Daewoo</span></div></a>
        <a href=/vskrytie-auto/chrysler><div class=brand_pannel><img src=/img/car_brands/chrysler.jpg alt=Chrysler /><span>Chrysler</span></div></a>
        <a href=/vskrytie-auto/lexus><div class=brand_pannel><img src=/img/car_brands/lexus.jpg alt=Lexus /><span>Lexus</span></div></a>
        <a href=/vskrytie-auto/volvo><div class=brand_pannel><img src=/img/car_brands/volvo.jpg alt=Volvo /><span>Volvo</span></div></a>
        <a href=/vskrytie-auto/renault><div class=brand_pannel><img src=/img/car_brands/renault.jpg alt=Renault /><span>Renault</span></div></a>
        <a href=/vskrytie-auto/subaru><div class=brand_pannel><img src=/img/car_brands/subaru.jpg alt=Subaru /><span>Subaru</span></div></a>
        <a href=/vskrytie-auto/smart><div class=brand_pannel><img src=/img/car_brands/smart.jpg alt=Smart /><span>Smart</span></div></a>
        <a href=/vskrytie-auto/suzuki><div class=brand_pannel><img src=/img/car_brands/suzuki.jpg alt=Suzuki /><span>Suzuki</span></div></a>
        <a href=/vskrytie-auto/mini><div class=brand_pannel><img src=/img/car_brands/mini.jpg alt=Mini /><span>Mini</span></div></a>
        <a href=/vskrytie-auto/fiat><div class=brand_pannel><img src=/img/car_brands/fiat.jpg alt=Fiat /><span>Fiat</span></div></a>
        <a href=/vskrytie-auto/land-rover><div class=brand_pannel><img src=/img/car_brands/land-rover.jpg alt=Land-Rover /><span>Land Rover</span></div></a>
        <a href=/vskrytie-auto/dodge><div class=brand_pannel><img src=/img/car_brands/dodge.jpg alt=Dodge /><span>Dodge</span></div></a>
        <a href=/vskrytie-auto/citroen><div class=brand_pannel><img src=/img/car_brands/citroen.jpg alt=Citroen /><span>Citroen</span></div></a>
        <a href=/vskrytie-auto/saab><div class=brand_pannel><img src=/img/car_brands/saab.jpg alt=Saab /><span>Saab</span></div></a>
        <a href=/vskrytie-auto/kia><div class=brand_pannel><img src=/img/car_brands/kia.jpg alt=Kia /><span>Kia</span></div></a>
        <a href=/vskrytie-auto/bentley><div class=brand_pannel><img src=/img/car_brands/bentley.jpg alt=Bentley /><span>Bentley</span></div></a>
        <a href=/vskrytie-auto/maserati><div class=brand_pannel><img src=/img/car_brands/maserati.jpg alt=Maserati /><span>Maserati</span></div></a>
        <a href=/vskrytie-auto/peugeot><div class=brand_pannel><img src=/img/car_brands/peugeot.jpg alt=Peugeot /><span>Peugeot</span></div></a>
        <a href=/vskrytie-auto/ssangyong><div class=brand_pannel><img src=/img/car_brands/ssangyong.jpg alt=SsangYong /><span>SsangYong</span></div></a>
        <a href=/vskrytie-auto/porsche><div class=brand_pannel><img src=/img/car_brands/porsche.jpg alt=Porsche /><span>Porsche</span></div></a>
        <a href=/vskrytie-auto/daihatsu><div class=brand_pannel><img src=/img/car_brands/daihatsu.jpg alt=Daihatsu /><span>Daihatsu</span></div></a>
        <a href=/vskrytie-auto/jaguar><div class=brand_pannel><img src=/img/car_brands/jaguar.jpg alt=Jaguar /><span>Jaguar</span></div></a>
        <a href=/vskrytie-auto/aston-martin><div class=brand_pannel><img src=/img/car_brands/aston-martin.jpg alt=Aston-Martin /><span>Aston Martin</span></div></a>
        <a href=/vskrytie-auto/rolls-royce><div class=brand_pannel><img src=/img/car_brands/rolls-royce.jpg alt=Rolls-Royce /><span>Rolls Royce</span></div></a>
        <a href=/vskrytie-auto/ferrari><div class=brand_pannel><img src=/img/car_brands/ferrari.jpg alt=Ferrari /><span>Ferrari</span></div></a>
        <a href=/vskrytie-auto/alfa-romeo><div class=brand_pannel><img src=/img/car_brands/alfa-romeo.jpg alt=Alfa-Romeo /><span>Alfa Romeo</span></div></a>
        <a href=/vskrytie-auto/opel><div class=brand_pannel><img src=/img/car_brands/opel.jpg alt=Opel /><span>Opel</span></div></a>
    </div>
</div>
{{$scripts := resources.Get "js/hidebut.js"}}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($scripts | babel | minify ).RelPermalink }}" defer></script>
{{ end }}
<!--<script type="text/javascript" src="/js/hidebut.js" defer></script>-->
