<div class=brands>
    <h2>Работаем с любыми брэндами дверей</h2><button id="buttonHide" class=hidebut value="collapse" onclick="colapse()">Скрыть</button>
    <div class=divhide id=divhide>
        <a href=/vskrytie-dvery/kondor><div class=brand_pannel><img src=/img/door_brands/kondor.jpg alt=Kondor /><span>Kondor</span></div></a>
        <a href=/vskrytie-dvery/valberg><div class=brand_pannel><img src=/img/door_brands/valberg.jpg alt=Valberg /><span>Valberg</span></div></a>
        <a href=/vskrytie-dvery/garda><div class=brand_pannel><img src=/img/door_brands/garda.jpg alt=Garda /><span>Garda</span></div></a>
        <a href=/vskrytie-dvery/granit><div class=brand_pannel><img src=/img/door_brands/granit.jpg alt=Granit /><span>Granit</span></div></a>
        <a href=/vskrytie-dvery/voldoor><div class=brand_pannel><img src=/img/door_brands/voldoor.jpg alt=VolDoor /><span>VolDoor</span></div></a>
        <a href=/vskrytie-dvery/gorod-masterov><div class=brand_pannel><img src=/img/door_brands/gorod-masterov.jpg alt=Gorod-Masterov /><span>Gorod Masterov</span></div></a>
        <a href=/vskrytie-dvery/pandoor><div class=brand_pannel><img src=/img/door_brands/pandoor.jpg alt=Pandoor /><span>Pandoor</span></div></a>
        <a href=/vskrytie-dvery/forpost><div class=brand_pannel><img src=/img/door_brands/forpost.jpg alt=Forpost /><span>Forpost</span></div></a>
        <a href=/vskrytie-dvery/torex><div class=brand_pannel><img src=/img/door_brands/torex.jpg alt=Torex /><span>Torex</span></div></a>
        <a href=/vskrytie-dvery/bastion><div class=brand_pannel><img src=/img/door_brands/bastion.jpg alt=Bastion /><span>Bastion</span></div></a>
        <a href=/vskrytie-dvery/shweda><div class=brand_pannel><img src=/img/door_brands/shweda.jpg alt=Shweda /><span>Shweda</span></div></a>
        <a href=/vskrytie-dvery/dvernoj-continent><div class=brand_pannel><img src=/img/door_brands/dvernoj-continent.jpg alt=Dvernoj-Continent /><span>Dvernoj Continent</span></div></a>
        <a href=/vskrytie-dvery/promet><div class=brand_pannel><img src=/img/door_brands/promet.jpg alt=Promet /><span>Promet</span></div></a>
        <a href=/vskrytie-dvery/elbor><div class=brand_pannel><img src=/img/door_brands/elbor.jpg alt=Elbor /><span>Elbor</span></div></a>
        <a href=/vskrytie-dvery/futura><div class=brand_pannel><img src=/img/door_brands/futura.jpg alt=Futura /><span>Futura</span></div></a>
        <a href=/vskrytie-dvery/argus><div class=brand_pannel><img src=/img/door_brands/argus.jpg alt=Argus /><span>Argus</span></div></a>
    </div>
</div>
{{$scripts := resources.Get "js/hidebut.js"}}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($scripts | babel | minify ).RelPermalink }}" defer></script>
{{ end }}

<!--<script type="text/javascript" src="/js/hidebut.js" defer></script>-->
<hr>
