<div class=key_brands>
    <h2>Работаем с любыми брэндами замков</h2><button id="buttonHide" class=hidebut value="collapse" onclick="colapse()">Скрыть</button>
    <div class=divhide id=divhide>
        <a href=/vskrytie-i-ustanovka-zamkov/abloy/><div class=brand_pannel><img src=/img/key_brands/abloy.jpg alt=Abloy /><span>Abloy</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/azbe/><div class=brand_pannel><img src=/img/key_brands/azbe.jpg alt=Azbe /><span>Azbe</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/barier/><div class=brand_pannel><img src=/img/key_brands/barier.jpg alt=Barier /><span>Барьер</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/cerber/><div class=brand_pannel><img src=/img/key_brands/cerber.jpg alt=Cerber /><span>Cerber</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/cisa/><div class=brand_pannel><img src=/img/key_brands/cisa.jpg alt=Cisa /><span>Cisa</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/dierre/><div class=brand_pannel><img src=/img/key_brands/dierre.jpg alt=Dierre /><span>Dierre</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/gerda/><div class=brand_pannel><img src=/img/key_brands/gerda.jpg alt=Gerda /><span>Gerda</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/gardian/><div class=brand_pannel><img src=/img/key_brands/gardian.jpg alt=Gardian /><span>Гардиан</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/kale/><div class=brand_pannel><img src=/img/key_brands/kale.jpg alt=Kale /><span>Kale</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/kfv/><div class=brand_pannel><img src=/img/key_brands/kfv.jpg alt=Kfv /><span>Kfv</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/mcm/><div class=brand_pannel><img src=/img/key_brands/mcm.jpg alt=MCM /><span>MCM</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/mottura/><div class=brand_pannel><img src=/img/key_brands/mottura.jpg alt=Mottura /><span>Mottura</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/mul-t-lock/><div class=brand_pannel><img src=/img/key_brands/mul-t-lock.jpg alt=Mul_t_lock /><span>Mul-t-lock</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/neman/><div class=brand_pannel><img src=/img/key_brands/neman.jpg alt=Neman /><span>Neman</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/securemme/><div class=brand_pannel><img src=/img/key_brands/securemme.jpg alt=Securemme /><span>Securemme</span></div></a>
        <a href=/vskrytie-i-ustanovka-zamkov/torex/><div class=brand_pannel><img src=/img/key_brands/torex.jpg alt=Torex /><span>Torex</span></div></a>
    </div>
</div>

{{$scripts := resources.Get "js/hidebut.js"}}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($scripts | babel | minify ).RelPermalink }}" defer></script>
{{ end }}
