<div class="locks inlineprop">
    <h2>Типы вскрываемых замков</h2>
    <p>Производим аварийное вскрытие всех видов замков, в том числе:</p>
    <ul>
        <li><strong>Б</strong>локираторов КПП</li>
        <li><a href="/tipy-zamkov/#дисковый"><strong>Д</strong>исковый</a></li>
        <li><strong>К</strong>апота и багажника</li>
        <li>Квартирные</li>
        <li>Китайские</li>
        <li><a href="/tipy-zamkov/#кодовый">Кодовый</a></li>
        <li>Крестовые</li>
    </ul>
    <ul>
        <li><strong>Л</strong>имбовые</li>
        <li><strong>М</strong>агнитные</li>
        <li><strong>Н</strong>авесные</li>
        <li>Накладные</li>
        <li><strong>О</strong>течественные</li>
        <li><strong>П</strong>очтовые</li>
        <li><a href="/tipy-zamkov/#реечный"><strong>Р</strong>еечные</a></li>
    </ul>
    <ul>
        <li>Ригельные</li>
        <li>Роторные</li>
        <li>Российские</li>
        <li>Рулевой колонки</li>
        <li><a href="/tipy-zamkov/#сувальдный"><strong>С</strong>увальдные</a></li>
        <li><a href="/tipy-zamkov/#цилиндровый"><strong>Ц</strong>илиндровые</a></li>
        <li>Электронный</a></li>
    </ul>
</div>