<div class="inlineprop">
        <form class="formprice">
                <div class="calc-img"></div>
                <div class=price_selector>
                    <h3>Узнать цену услуги</h3>
                    <div class="mainpr">
                        <select id=offer_main onblur="main_func()">
                            <option id=zero>--Выберете услугу--</option>
                            <option id=lc selected="selected">Вскрытие замка</option>
                            <option id=in>Установка замка</option>
                            <option id=ch>Замена замка</option>
                            <option id=sf>Вскрытие сейфа</option>
                            <option id=au>Вскрытие автомобиля</option>

                        </select>
                    </div>
                    <div>
                        <div id=offer_lock_div class="selectbox lockpr" >
                            <select id=offer_lock onblur="lock_func()">
                                <option id=offer_lock_zero>--Выберете услугу--</option>
                                <option id=offer_lock_ru selected="selected">Российские замки</option>
                                <option id=offer_lock_im>Импортные замки</option>
                            </select>
                        </div>
                        <div id=offer_safe_div class="selectbox safepr" hidden>
                            <select id=offer_safe onblur="safe_func()">
                                <option id=offer_safe_zero>--Выберете услугу--</option>
                                <option id=offer_safe_ru>Российские сейфы</option>
                                <option id=offer_safe_sf>Импортные сейфы</option>
                            </select>
                        </div>
                        <div id=offer_auto_div class="selectbox autopr" hidden>
                            <select id=offer_auto onblur="auto_func()">
                                <option id=offer_auto_zero>--Выберете услугу--</option>
                                <option id=offer_auto_li>Легковые автомобили</option>
                                <option id=offer_auto_gr>Грузовые автомобили</option>
                                <option id=offer_auto_mh>Механический блокиратор</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="inf">
                    <span>Ориентировочная цена от: </span>
                    <span id=sum>1500 руб.</span>
                    <p>Рассчитано на основании актуальных цен мастеров. Окончательную стоимость работ мастер определяет на месте.</p>
                    <div class=payway>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--primary)" class="bi bi-wallet" viewBox="0 0 16 16">
                            <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                        </svg>
                            <br />
                            <span> Оплата наличными</span>
                        </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--primary)" class="bi bi-credit-card" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                        </svg>
                            <br />
                            <span> Или безналичный расчет</span>
                        </div>
                    </div>
                </div>

        </form>

    {{$scripts := resources.Get "js/configPrice.js"}}

    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($scripts | babel | minify | resources.Fingerprint).RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" defer></script>
    {{ end }}
<!--<script src="/js/configPrice.js" type="application/javascript"></script>-->
</div>