<div class=inlinegal>
    <hr>
    <h2>Примеры наших работ</h2>
    <div class=gallery>
        <ul id=lightgallery>
            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/1.jpg" data-sub-html="<h4 class=lg_caption>﻿Вскрытие сейфа на предприятии
</h4><p>Работа заняла несколько минут, замок оказался не сложным.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/1.jpg" title="﻿Вскрытие сейфа на предприятии" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/10.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф Topaz
</h4><p>Уже открыт, содержимое не пострадало</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/10.jpg" title="﻿Сейф Topaz" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/11.jpg" data-sub-html="<h4 class=lg_caption>﻿Домашний надежный сейф
</h4><p>Забыли пароль.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/11.jpg" title="﻿Домашний надежный сейф" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/12.jpg" data-sub-html="<h4 class=lg_caption>﻿Домашний надежный сейф
</h4><p>Вскрытие за десять минут.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/12.jpg" title="﻿Домашний надежный сейф" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/2.jpg" data-sub-html="<h4 class=lg_caption>﻿Вскрытие сейфа на предприятии.
</h4><p>Документы внутри не пострадали</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/2.jpg" title="﻿Вскрытие сейфа на предприятии." alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/3.jpg" data-sub-html="<h4 class=lg_caption>﻿Несложный сейф с кодовым замком
</h4><p>Выглядит надежнее чем есть на самом деле.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/3.jpg" title="﻿Несложный сейф с кодовым замком" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/4.jpg" data-sub-html="<h4 class=lg_caption>﻿Открытый сейф с кодовым замком
</h4><p>Уже открытый. Не смотря на то, что он вмонтирован в стену, сложностей не возникло.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/4.jpg" title="﻿Открытый сейф с кодовым замком" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/5.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф с двумя ключами
</h4><p>Интересная расцветка.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/5.jpg" title="﻿Сейф с двумя ключами" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/6.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф с двумя ключами
</h4><p>Попытка заказчика вскрыть самостоятельно</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/6.jpg" title="﻿Сейф с двумя ключами" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/7.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф  с двумя ключами
</h4><p>Следы попыток заказчика вскрыть самостоятельно. Он пытался пилить петли</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/7.jpg" title="﻿Сейф  с двумя ключами" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/8.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф Topaz
</h4><p>Пока ещё закрыт</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/8.jpg" title="﻿Сейф Topaz" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a>
            </li>

            

            <li data-responsive="/img/safe_gallery/preview/-pre.jpg" data-src="/img/safe_gallery/9.jpg" data-sub-html="<h4 class=lg_caption>﻿Сейф Topaz
</h4><p>Личинка замка поближе.</p>">
                <a href="">
                    <div class=container>
                        <img class="img-responsive" src="/img/safe_gallery/9.jpg" title="﻿Сейф Topaz" alt="Пример работы"/>
                        <div class="gallery_poster"></div>
                    </div>
                </a></li>
        </ul>
    </div>
    <hr>
</div>
<script type="text/javascript">
    window.addEventListener("load", function () {
        $("#lightgallery").lightGallery();
    });

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.2/js/lightgallery-all.min.js" defer></script>
