<div class="inlineprop bean-skills">

    <h2>Наши сильные стороны</h2>
    <div class="bars">
    <ul class="bean-skillset">


        <li class="skill-bar" style="width:100%; background-color:#F3C128">
            <span>Аккуратность работы</span>
            <span class="skill-percent">100%</span>
        </li>

        <li class="skill-bar" style="width:70%; background-color:#FF5353">
            <span>Выбор замков в наличии</span>
            <span class="skill-percent">70%</span>
        </li>

        <li class="skill-bar" style="width:80%; background-color:#1CDCFF">
            <span>Оперативность выезда</span>
            <span class="skill-percent">80%</span>
        </li>

        <li class="skill-bar" style="width:90%; background-color:#7CD14E">
            <span>Качество работы</span>
            <span class="skill-percent">90%</span>
        </li>
    </ul>
    </div>
    <hr>
</div>