RewriteEngine On
# ------------------------ Cache ------------------------
<ifModule mod_headers.c>
    <FilesMatch "\.(mp4|webm)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|woff2|woff)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
</IfModule>

# ------------------------ WebP ------------------------
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Check if browser supports WebP images
  RewriteCond %{HTTP_ACCEPT} image/webp

  # Check if WebP replacement image exists
  RewriteCond %{DOCUMENT_ROOT}/$1.webp -f

  # Serve WebP image instead
  RewriteRule (.+)\.(jpe?g|png)$ $1.webp [T=image/webp,E=REQUEST_image]
</IfModule>

<IfModule mod_headers.c>
  # Vary: Accept for all the requests to jpeg and png
  Header append Vary Accept env=REQUEST_image
</IfModule>

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>

# ------------------------ Compression ------------------------

## AddEncoding allows you to have certain browsers uncompress information on the fly.
#AddEncoding gzip .gz
#
## Serve gzip compressed CSS files if they exist and the client accepts gzip.
#RewriteCond %{HTTP:Accept-encoding} gzip
#RewriteCond %{REQUEST_FILENAME}\.gz -s
#RewriteRule ^(.*)\.css $1\.css\.gz [QSA]
#
## Serve gzip compressed JS files if they exist and the client accepts gzip.
#RewriteCond %{HTTP:Accept-encoding} gzip
#RewriteCond %{REQUEST_FILENAME}\.gz -s
#RewriteRule ^(.*)\.js $1\.js\.gz [QSA]
#
## Serve correct content types, and prevent mod_deflate double gzip.
#RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
#RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

# ------------------------ Protection ------------------------
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always set Referrer-Policy "no-referrer-when-downgrade"
	#Header set X-Frame-Options "DENY"
	#Header set Content-Security-Policy "default-src https:; script-src 'self' ajax.cloudflare.com;"
</IfModule>

# ------------------------ Redirects ------------------------
Redirect 301 /pages/install.html /ustanovka-zamkov
Redirect 301 /pages/safe.html /vskrytie-sejfov
Redirect 301 /pages/cars.html /vskrytie-avtomobilej
Redirect 301 /pages/doors.html /vskrytie-dverej

ErrorDocument 404 /404.html