RewriteEngine On
<ifModule mod_headers.c>
    # Cache
    <FilesMatch "\.(mp4|webm)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|woff2|woff)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=31557600"
    </FilesMatch>
    # XXS-Protection
    Header set X-XSS-Protection "1; mode=block"
    # Referrer Policy
    Header always set Referrer-Policy "no-referrer-when-downgrade"
    # X-Frame-Protection
    Header set X-Frame-Options "DENY"
    # CSP
    Header set Content-Security-Policy "default-src https:"
</IfModule>

# AddEncoding allows you to have certain browsers uncompress information on the fly.
AddEncoding gzip .gz

# Serve gzip compressed CSS files if they exist and the client accepts gzip.
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

# Serve gzip compressed JS files if they exist and the client accepts gzip.
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

# Serve correct content types, and prevent mod_deflate double gzip.
RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

Redirect 301 /pages/install.html /ustanovka-zamkov
Redirect 301 /pages/safe.html /vskrytie-sejfov
Redirect 301 /pages/cars.html /vskrytie-avtomobilej
Redirect 301 /pages/doors.html /vskrytie-dverej

ErrorDocument 404 /404.html