<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  {{$dir := replace .File.Dir `\` "/"}}
  {{$name := replace .File.Path ".md" ""}}

  {{ if and (eq .File.ContentBaseName "_index") (eq $dir "/") }}
    <link rel=amphtml href=https://zamokservis.com/amp/index.amp.html>
  {{ else if and (eq .File.ContentBaseName "_index") (not (in .File.Dir "blog")) (not (in .File.Dir "cities"))}}
    <link rel=amphtml href=https://zamokservis.com/amp/{{replace $dir "/" ""}}.amp.html>
  {{ else if and (in .File.Dir "ustanovka-zamkov") }}
    <link rel=amphtml href=https://zamokservis.com/amp/{{ replace (substr $dir 17) "/" ""}}.amp.html>
  {{ else if and (in .File.Dir "vskrytie-dverej") }}
    <link rel=amphtml href=https://zamokservis.com/amp/{{ replace (substr $dir 15) "/" ""}}.amp.html>
  {{ else if and (in .File.Dir "vskrytie-avtomobilej") }}
    <link rel=amphtml href=https://zamokservis.com/amp/{{ replace (substr $dir 20) "/" ""}}.amp.html>
  {{ else if or (in .File.Dir "blog") (in .File.Dir "cities") (in .File.Dir "tipy-zamkov") (in .File.Dir "404") (in .File.Dir "tags")}}

  {{ else if or (eq $name "contact-us") (eq $name "how-we-work") (eq $name "company-info") (eq $name "company-info") (eq $name "prices") (eq $name "support") (eq $name "terms-and-conditions") (eq $name "faq") (eq $name "tipy-zamkov") }}

  {{else}}
    <link rel=amphtml href=https://zamokservis.com/amp/{{ replace $dir "/" ""}}.amp.html>
  {{end}}

  <link rel=canonical href={{ add "https://zamokservis.com" .RelPermalink }}>

  <meta name=keywords content="замена,замок,вскрытие,ремонт,открыть,спб,мастер">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ .Summary }}">
  <meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
  <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}">
  <meta property="og:description" content="{{ .Summary }}">

  <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}">
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}">
  <meta property="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ .Summary }}">
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}">
  {{ block "meta_tags" . }}{{end}}

  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
  <link rel="manifest" href="/ico/site.webmanifest">
  <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/ico/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/ico/browserconfig.xml">

  <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#2d2d2d" media="(prefers-color-scheme: dark)">

  {{- if .Site.IsServer -}}
      {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" (print "css/main.css") "enableSourceMap" false)}}
      <link rel=preload as=style href="{{ ($style).RelPermalink }}">
      <link rel="stylesheet" type=text/css href="{{ ($style).RelPermalink }}">
  {{ else }}
      {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" (print "css/main.css") "enableSourceMap" false) | resources.PostCSS | minify}}
      <link rel=preload as=style href="{{ ($style).RelPermalink }}">
      <link rel="stylesheet" type=text/css href="{{ ($style).RelPermalink }}">

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KJ4XPH6');</script>
      <!-- End Google Tag Manager -->

      <!-- Cloudflare Web Analytics -->
      <script data-cf-beacon='{"token": "c194f945b0a5488085a197e722ae0769"}' defer src='https://static.cloudflareinsights.com/beacon.min.js'></script>
      <!-- End Cloudflare Web Analytics -->

  {{ end }}

  {{ block "header_css" . }}{{ end }}

</head>

<style>
  
</style>

<body class='page {{ block "body_classes" . }}{{ end }}'>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ4XPH6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="top_bar">
  <div class=header>
    <div class=container>

<!--        <div class=top_pic></div>-->
        <div class=sign>
          <a href=tel:+79219405094 class=phone_link title=Телефон>
            <span class=phone>+7 (921) 940 50 94</span>
          </a>
        </div>
      <div class=theme-switch onclick="change_theme()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
          <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </svg>
      </div>
    </div>

  </div>
</div>
{{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}

    {{ if $.Params.show_sidebar }}
    <div class="container pt-2 pt-md-6 pb-3 pb-md-6">
      <div class="row">
        <div class="col-12 col-md-3 mb-3">
          <div class="sidebar">
            {{ partial "sidebar.html" . }}
          </div>
        </div>
        <div class="col-12 col-md-9">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ else }}
    {{ block "main" . }}
    {{ end }}
    {{ end}}
  </div>

  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | babel | minify | resources.Fingerprint).RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>
  {{ end }}

  <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "EmergencyService",
      "name": "Энигма Вскрытие и установка замков",
      "url": {{ add "https://zamokservis.com" .RelPermalink }},
      "paymentAccepted": [ "cash", "credit card" ],
      "logo": "https://zamokservis.com/img/logo.png",
      "image": "https://zamokservis.com/img/logo.png",
      "priceRange": "1000-5000",
      "telephone": "+7(921)940-50-94",
      "description": "Круглосуточное вскрытие и установка замков в Санкт-Петербурге и Ленинградской области. Вскрытие автомобилей. Вскрытие сейфов.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Сиреневый бульвар, 23/1",
        "addressLocality": "Санкт-Петербург",
        "addressRegion": "Санкт-Петербург",
        "postalCode": "194352",
        "addressCountry": "Россия"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "60.0529158",
        "longitude": "30.3576092"
      },
      "openingHours": "Mo,Tu,We,Th,Fr,Sa 00:00-23:59",
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+7(921)940-50-94",
        "contactType": "customer service"
      },
      "sameAs": "https://vk.com/enigma_servis"
    }
  </script>
</body>
</html>
