.docs_warn{
  outline: black 1px solid;
  position: relative;
  margin-bottom: 2rem;
  padding: 0;
  p{
    font-size: 1.5rem;
    font-weight: bold;
    width: auto;
    margin: 5%;
  }
  .numberCircle {
    top: 10px;
    right: 10px;

    position: absolute;
    transform:translate(50%,-50%);

    border-radius: 50%;

    width: 50px;
    height: 50px;

    padding: 4px;

    background: rgb(237, 0, 0);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

  }
    @include media-breakpoint-up(md) {
    width: 80%;
  }
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}