<div class="inlineprop">
    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url(/img/image-1.jpg)"></div>
            <ul class="details">
                <p>Всё необходимое оборудование, а главное – опыт, есть у наших мастеров. Мы решим вашу проблему.</p>
            </ul>
        </div>
        <div class="description">
            <h2>Вскрытие без повреждений</h2>
            <h3>Наша главная задача</h3>
            <p> Специалисты, работающие в Энигме, занимаются своей работой уже давно. Есть несколько подходов к замку, которые откроют дверь без повреждения её поверхностей.</p>
        </div>
    </div>

    <div class="blog-card alt">
        <div class="meta">
            <div class="photo" style="background-image: url(/img/image-2.jpg)"></div>
            <ul class="details">
                <p>Специалист прибудет на место в кротчайшие сроки для помощи в решении возникших затруднений.</p>
            </ul>
        </div>
        <div class="description">
            <h2>Высокая скорость оказания услуг</h2>
            <h3>Оперативный выезд на место</h3>
            <p>Мастер выезжает на место вызова в момент поступления звонка. Заказ будет выполнен максимально быстро и в срок.</p>
        </div>
    </div>

    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url(/img/image-3.jpg)"></div>
            <ul class="details">
                <p>Если Вам требуется аварийное вскрытие замков, обращайтесь к нам и мы Вам поможем.</p>
            </ul>
        </div>
        <div class="description">
            <h2>Мы на рынке уже 20 лет</h2>
            <p>Доверяйте профессионалам. Наши умения помогут Вам решить любую проблему, будь то дверь или замок. Наши мастера – специалисты по работе с замками.</p>
        </div>
    </div>

    <div class="blog-card alt">
        <div class="meta">
            <div class="photo" style="background-image: url(/img/image-4.jpg)"></div>
            <ul class="details">
                <p>Цена озвученная диспетчером при оформлении заявки,на месте работ не меняется.</p>
            </ul>
        </div>
        <div class="description">
            <h2>Доступные цены на услуги</h2>
            <h3>И выское качество услуг</h3>
            <p>Невысокие цены на услуги благодаря большому числу оперативных офисов. Мы работаем без посредников и предлагаем самые выгодные цены на услуги</p>
        </div>
    </div>
</div>