<div class=car_brands>
    <h2>Работаем с любыми брэндами автомобилей</h2>
    <button class=hidebut id="buttonHide" onclick="colapse()">Скрыть</button>
    <div class=divhide id=divhide>
        <a href=/vskrytie-avtomobilej/honda/><div class=brand_pannel><img src=/img/car_brands/honda.jpg alt=Honda /><span>Honda</span></div></a>
        <a href=/vskrytie-avtomobilej/ford/><div class=brand_pannel><img src=/img/car_brands/ford.jpg alt=Ford /><span>Ford</span></div></a>
        <a href=/vskrytie-avtomobilej/mazda/><div class=brand_pannel><img src=/img/car_brands/mazda.jpg alt=Mazda /><span>Mazda</span></div></a>
        <a href=/vskrytie-avtomobilej/nissan/><div class=brand_pannel><img src=/img/car_brands/nissan.jpg alt=Nissan /><span>Nissan</span></div></a>
        <a href=/vskrytie-avtomobilej/hyundai/><div class=brand_pannel><img src=/img/car_brands/hyundai.jpg alt=Hyundai /><span>Hyundai</span></div></a>
        <a href=/vskrytie-avtomobilej/toyota/><div class=brand_pannel><img src=/img/car_brands/toyota.jpg alt=Toyota /><span>Toyota</span></div></a>
        <a href=/vskrytie-avtomobilej/mitsubishi/><div class=brand_pannel><img src=/img/car_brands/mitsubishi.jpg alt=Mitsubishi /><span>Mitsubishi</span></div></a>
        <a href=/vskrytie-avtomobilej/volkswagen/><div class=brand_pannel><img src=/img/car_brands/volkswagen.jpg alt=Volkswagen /><span>Volkswagen</span></div></a>
        <a href=/vskrytie-avtomobilej/bmw/><div class=brand_pannel><img src=/img/car_brands/bmw.jpg alt=BMW /><span>BMW</span></div></a>
        <a href=/vskrytie-avtomobilej/audi/><div class=brand_pannel><img src=/img/car_brands/audi.jpg alt=Audi /><span>Audi</span></div></a>
        <a href=/vskrytie-avtomobilej/mercedes-benz/><div class=brand_pannel><img src=/img/car_brands/mercedes-benz.jpg alt=Mercedes-Benz /><span>Mercedes-Benz</span></div></a>
        <a href=/vskrytie-avtomobilej/jeep/><div class=brand_pannel><img src=/img/car_brands/jeep.jpg alt=Jeep /><span>Jeep</span></div></a>
        <a href=/vskrytie-avtomobilej/daewoo/><div class=brand_pannel><img src=/img/car_brands/daewoo.jpg alt=Daewoo /><span>Daewoo</span></div></a>
        <a href=/vskrytie-avtomobilej/chrysler/><div class=brand_pannel><img src=/img/car_brands/chrysler.jpg alt=Chrysler /><span>Chrysler</span></div></a>
        <a href=/vskrytie-avtomobilej/lexus/><div class=brand_pannel><img src=/img/car_brands/lexus.jpg alt=Lexus /><span>Lexus</span></div></a>
        <a href=/vskrytie-avtomobilej/volvo/><div class=brand_pannel><img src=/img/car_brands/volvo.jpg alt=Volvo /><span>Volvo</span></div></a>
        <a href=/vskrytie-avtomobilej/renault/><div class=brand_pannel><img src=/img/car_brands/renault.jpg alt=Renault /><span>Renault</span></div></a>
        <a href=/vskrytie-avtomobilej/subaru/><div class=brand_pannel><img src=/img/car_brands/subaru.jpg alt=Subaru /><span>Subaru</span></div></a>
        <a href=/vskrytie-avtomobilej/smart/><div class=brand_pannel><img src=/img/car_brands/smart.jpg alt=Smart /><span>Smart</span></div></a>
        <a href=/vskrytie-avtomobilej/suzuki/><div class=brand_pannel><img src=/img/car_brands/suzuki.jpg alt=Suzuki /><span>Suzuki</span></div></a>
        <a href=/vskrytie-avtomobilej/mini/><div class=brand_pannel><img src=/img/car_brands/mini.jpg alt=Mini /><span>Mini</span></div></a>
        <a href=/vskrytie-avtomobilej/fiat/><div class=brand_pannel><img src=/img/car_brands/fiat.jpg alt=Fiat /><span>Fiat</span></div></a>
        <a href=/vskrytie-avtomobilej/land-rover/><div class=brand_pannel><img src=/img/car_brands/land-rover.jpg alt=Land-Rover /><span>Land Rover</span></div></a>
        <a href=/vskrytie-avtomobilej/dodge/><div class=brand_pannel><img src=/img/car_brands/dodge.jpg alt=Dodge /><span>Dodge</span></div></a>
        <a href=/vskrytie-avtomobilej/citroen/><div class=brand_pannel><img src=/img/car_brands/citroen.jpg alt=Citroen /><span>Citroen</span></div></a>
        <a href=/vskrytie-avtomobilej/saab/><div class=brand_pannel><img src=/img/car_brands/saab.jpg alt=Saab /><span>Saab</span></div></a>
        <a href=/vskrytie-avtomobilej/kia/><div class=brand_pannel><img src=/img/car_brands/kia.jpg alt=Kia /><span>Kia</span></div></a>
        <a href=/vskrytie-avtomobilej/bentley/><div class=brand_pannel><img src=/img/car_brands/bentley.jpg alt=Bentley /><span>Bentley</span></div></a>
        <a href=/vskrytie-avtomobilej/maserati/><div class=brand_pannel><img src=/img/car_brands/maserati.jpg alt=Maserati /><span>Maserati</span></div></a>
        <a href=/vskrytie-avtomobilej/peugeot/><div class=brand_pannel><img src=/img/car_brands/peugeot.jpg alt=Peugeot /><span>Peugeot</span></div></a>
        <a href=/vskrytie-avtomobilej/ssangyong/><div class=brand_pannel><img src=/img/car_brands/ssangyong.jpg alt=SsangYong /><span>SsangYong</span></div></a>
        <a href=/vskrytie-avtomobilej/porsche/><div class=brand_pannel><img src=/img/car_brands/porsche.jpg alt=Porsche /><span>Porsche</span></div></a>
        <a href=/vskrytie-avtomobilej/daihatsu/><div class=brand_pannel><img src=/img/car_brands/daihatsu.jpg alt=Daihatsu /><span>Daihatsu</span></div></a>
        <a href=/vskrytie-avtomobilej/jaguar/><div class=brand_pannel><img src=/img/car_brands/jaguar.jpg alt=Jaguar /><span>Jaguar</span></div></a>
        <a href=/vskrytie-avtomobilej/aston-martin/><div class=brand_pannel><img src=/img/car_brands/aston-martin.jpg alt=Aston-Martin /><span>Aston Martin</span></div></a>
        <a href=/vskrytie-avtomobilej/rolls-royce/><div class=brand_pannel><img src=/img/car_brands/rolls-royce.jpg alt=Rolls-Royce /><span>Rolls Royce</span></div></a>
        <a href=/vskrytie-avtomobilej/ferrari/><div class=brand_pannel><img src=/img/car_brands/ferrari.jpg alt=Ferrari /><span>Ferrari</span></div></a>
        <a href=/vskrytie-avtomobilej/alfa-romeo/><div class=brand_pannel><img src=/img/car_brands/alfa-romeo.jpg alt=Alfa-Romeo /><span>Alfa Romeo</span></div></a>
        <a href=/vskrytie-avtomobilej/opel/><div class=brand_pannel><img src=/img/car_brands/opel.jpg alt=Opel /><span>Opel</span></div></a>
    </div>
</div>
{{$scripts := resources.Get "js/hidebut.js"}}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($scripts | babel | minify ).RelPermalink }}" defer></script>
{{ end }}
<!--<script type="text/javascript" src="/js/hidebut.js" defer></script>-->
