<div class="regions inlineprop">
    <div class="blog-card map-widget">
        <div class="meta">
            <div class="photo" style="background-image:url(/img/src/map.jpg)"></div>
            <ul class="details"><p>Осущесвляем вскрытие по Ленинградской области и Санкт-Петербургу</p></ul>
        </div>
        <div class="description"><h2>Районы, в которых мы работаем</h2>
            <h3>Оказание услуг по всей области</h3>
            <p>Наша служба оказывает услуги по вскрытию дверей и замене замков во всех районах Санкт-Петербурга и
                большинстве городов <a href="/cities/len-obl/">Ленинградской области</a>, в том числе:</p></div>
    </div>
    <ul>
        <li><strong>А</strong>дмиралтейский</li>
        <li><a href="/cities/vasileostrovsky/"><strong>В</strong>асилеостровский</a></li>
        <li><a href="/cities/vsevolojsk/">Всеволожск</a></li>
        <li><a href="/cities/viborgsky/">Выборгский</a></li>
        <li><a href="/cities/gatchina/"><strong>Г</strong>атчина</a></li>
        <li><a href="/cities/zelenogorsk/"><strong>З</strong>еленогорск</a></li>
        <li><a href="/cities/kalininsky/"><strong>К</strong>алининский</a></li>
        <li><a href="/cities/kirovsk/">Кировск</a></li>
        <li><a href="/cities/kolpino/">Колпино</a></li>

    </ul>
    <ul>
        <li><a href="/cities/krasnogvardeysky/">Красногвардейский</a></li>
        <li><a href="/cities/krasnoe-selo/">Красное Село</a></li>
        <li>Красносельский</li>
        <li>Курортный</li>
        <li><a href="/cities/kudrovo/">Кудрово</a></li>
        <li><a href="/cities/lomonosov/"><strong>Л</strong>омоносов</a></li>
        <li><a href="/cities/luga/">Луга</a></li>
        <li><strong>М</strong>осковский</li>
        <li><a href="/cities/murino/">Мурино</a></li>
    </ul>
    <ul>
        <li><strong>Н</strong>евский</li>
        <li><a href="/cities/novaya-ochta/">Новая Охта</a></li>
        <li><a href="/cities/pargolovo/"><strong>П</strong>арголово</a></li>
        <li><a href="/cities/parnas/">Парнас</a></li>
        <li><a href="/cities/petergof/">Петергоф</a></li>
        <li>Петроградский</li>
        <li>Петродворцовый</li>
        <li><a href="/cities/primorsky/">Приморский</a></li>
        <li><a href="/cities/pushkin/">Пушкин</a>
    </ul>
    <ul>
        </li>
        <li>Пушкинский</li>
        <li><a href="/cities/sertolovo/"><strong>С</strong>ертолово</a></li>
        <li><a href="/cities/sestroretsk/">Сестрорецк</a></li>
        <li><a href="/cities/strelna/">Стрельна</a></li>
        <li><a href="/cities/tosno/"><strong>Т</strong>осно</a></li>
        <li><strong>Ф</strong>рунзенский</li>
        <li><strong>Ц</strong>ентральный</li>
        <li><a href="/cities/shushary/"><strong>Ш</strong>ушары</a></li>
        <li>И другие</li>
    </ul>
</div>