<div class="inlineprop traffic-light-widget">

    <div class="traffic-light-text-top"><h3>Обратите внимание на дорожную обстановку<div class="traffic-light-text-more">Это может повлиять на время прибытия мастера на место для оказания помощи</div></h3></div>
    <div class="traffic-light">
        <div class="light">
            <span id=text_bal></span>
        </div>
    </div>
    <div class="traffic-light-text-bottom">Это может повлиять на время прибытия мастера на место для оказания помощи</div>


    {{$scripts := resources.Get "js/trafic_widget.js"}}

    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ ($scripts).RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($scripts | babel | minify | resources.Fingerprint).RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" defer></script>
    {{ end }}
    <!--<script src="/js/trafic_widget.js" defer></script>-->

</div>

